$primary-bogner: #10627A;
$primary-main-rgb: #00549F;
$primary: #0072BB;
$secondary: #FFA500;
$accent-bogner: #4395AD;
$info-bogner: #4395AD;
$accent-main-rgb: #407FB7;
$info-main-rgb: #407FB7;
$accent: #7DA7D9;
$info: #7DA7D9;
$success: #FFFFFF;
$warning: #FFC107;
$error: #FF5252;
